@model BarcodeGenerator.Models.Barcode
@{
    ViewData["Title"] = "CreateBarcode";
}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    function onDirencChange() {
        var direnc = document.getElementById("direnc");
        direnc.value = (direnc.value / 100).toFixed(2);
        //if (direnc.value < 1) {
        //    direnc.value = (direnc.value * 1).toFixed(2);
        //}
        //else {
        //    direnc.value = (parseInt(direnc.value) / 100).toFixed(2);
        //}
    }
    //function onDirencChange_ex() {
    //    var direnc = document.getElementById("direnc");
    //    if (/\./.test(direnc.value) === false) { direnc.value = `${direnc.value}.00`; }
    //    else if (/\.\d$/.test(direnc.value)) { direnc.value = parseFloat(direnc.value).toFixed(2); }
    //}
    function validateForm() {
        var cap1 = document.getElementById("SelectCap1");
        var cap2 = document.getElementById("SelectCap2");
        if (parseInt(cap1.value) < parseInt(cap2.value) || parseInt(cap1.value) == parseInt(cap2.value)) {
            alert("Diameter 2 cannot be greater than or equal to Diameter 1");
            return false;
        }
        return true;
    }
    //$(document).ready(function () {
    //    $('#SelectCap2').val(null);
    //    if ($('input[name=Tip]:checked').val() === "Y_Reduction" || $('input[name=Tip]:checked').val() === "Tapping_Tee") {
    //        $('#Cap2').show();
    //    } else {
    //        $('#Cap2').hide();
    //    }
    //    $('input[name=Tip]').click(function () {
    //        if ($('input[name=Tip]:checked').val() === "Y_Reduction" || $('input[name=Tip]:checked').val() === "Tapping_Tee") {
    //            $('#Cap2').show();
    //        } else {
    //            $('#Cap2').hide();
    //        }
    //    });
    //});
    $(document).ready(function () {
        //$('#SelectCap2').val(null);
        var selected = $("#SelectTip").val();
        if (selected === "93" || selected === "94") {
            $('#Cap2').show();
        } else {
            $('#Cap2').hide();
            //$('#SelectCap2').val(null);
        }
    });
    function GetSelectedType(selected) {
        var text = selected.options[selected.selectedIndex].text;
        if (text === "Y Reduction" || text === "Tapping Tee") {
            $('#Cap2').show();
        } else {
            $('#Cap2').hide();
            $('#SelectCap2').val(null);
        }
    }
</script>
<div class="row">
    <form asp-action="CreateBarcode" id="form" onsubmit="return validateForm()">
        <div class="col-md-12" style="width:65%">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label">Manufacturer Name</label>
                <input asp-for="Manufacturer" readonly type="text" class="form-control" value="FP" />
            </div>
            <span asp-validation-for="Manufacturer" class="text-danger"></span>
            <hr />
            <div class="form-group">
                <label class="control-label">Heating or Energy Control</label>
                <input readonly type="text" class="form-control" value="Heating Time" />
            </div>
            <div class="form-group">
                <label class="control-label">Energy Correction Control</label>
                <input readonly type="text" class="form-control" value="Mode U or I time or energy correction control using digits 19 to 21" />
            </div>
            <div class="form-group">
                <label class="control-label">Fusion Cycle Type</label>
                <input readonly type="text" class="form-control" value="Uniform Cycle" />
            </div>
            
            <hr />
            <div class="form-group">
                <label class="control-label">Heating current is regulated by</label>
                <input class="form-control" style="width: 13%; text-align: center" value="Mode U" readonly />
                <label class="control-label" style="line-height:40px">Mode of correction</label>
                <input class="form-control" style="width: 30%; text-align: center" value="Advanced correction K'" readonly />
                <label class="control-label" style="line-height:40px">Resistance in</label>
                <input class="form-control" style="width: 10%; text-align: center" value="-,-- Ω" readonly />
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="Tip" class="control-label">Accessory Type</label>
                <select asp-for="Tip" id="SelectTip" asp-items="Html.GetEnumSelectList<Tip>()" onchange="GetSelectedType(this);" class="form-control">
                    <option selected disabled>Select Accessory Type</option>
                </select>
            </div>
            <span asp-validation-for="Tip" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Cap1" class="control-label">Diameter</label>
                <select asp-for="Cap1" style="width:65%" id="SelectCap1" asp-items="Html.GetEnumSelectList<Cap1>()" class="form-control">
                    <option selected disabled>Select Diameter</option>
                </select>
                <input class="form-control" value="mm" style="width:10%;text-align:center" readonly />
            </div>
            <span asp-validation-for="Cap1" class="text-danger"></span>
            <div class="form-group" id="Cap2" style="display:none">
                <label asp-for="Cap2" class="control-label">Diameter 2</label>
                <select asp-for="Cap2" style="width:65%" id="SelectCap2" asp-items="Html.GetEnumSelectList<Cap2>()" class="form-control">
                    <option selected disabled>Select Second Diameter</option>
                </select>
                <input class="form-control" value="mm" style="width: 10%; text-align: center" readonly />
            </div>
            <span asp-validation-for="Cap2" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Voltaj" class="control-label">Level of Regulation (Voltages or Amperes)</label>
                <input asp-for="Voltaj" type="number" min="0" max="99" style="width:65%;" onkeyup="if (parseInt(this.value) > 99) { this.value = Math.floor(this.value / 10); return false; }" class="form-control" /><br />
                <input class="form-control" value="V" style="width: 10%; text-align: center" readonly />
            </div>
            <span asp-validation-for="Voltaj" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Direnc" class="control-label">Nominal Resistance of Heating Element</label>
                <input asp-for="Direnc" id="direnc" type="number" min="0.01" step="0.01" max="9.99" onchange="onDirencChange()" class="form-control" />
            </div>
            <span asp-validation-for="Direnc" class="text-danger"></span>
         
            <div class="form-group">
                <label asp-for="Sure" class="control-label">Heating Time</label>
                @*<br />
                @Html.RadioButton("radioButton", "Second", true)
                <label for="RadioButton1">Saniye</label>
                @Html.RadioButton("radioButton", "Minute")
                <label for="RadioButton2">Dakika</label>
                <br />*@
                <input asp-for="Sure" type="number" min="0" max="5940" style="width:50%;" class="form-control" />
                <input readonly value="Seconds" class="form-control" style="width: 24%; text-align: center" />
            </div>
            <span asp-validation-for="Sure" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="SogumaSuresi" class="control-label">Cooling Time</label>
                <select asp-for="SogumaSuresi" asp-items="Html.GetEnumSelectList<SogumaSuresi>()" class="form-control">
                    <option selected disabled>Select Cooling Time</option>
                </select>
            </div>
            <span asp-validation-for="SogumaSuresi" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Rezistans" class="control-label">Variation of Resistance of Heating Element</label>
                <input asp-for="Rezistans" width="15" type="number" min="0" max="9" onkeyup="if(parseInt(this.value)>9){ this.value =Math.floor(this.value / 10); return false; }" class="form-control" />
            </div>
            <span asp-validation-for="Rezistans" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="EnerjiDuzeltmeEksi" class="control-label">Energy Correction - C</label>
                <input asp-for="EnerjiDuzeltmeEksi" type="number" min="0" max="9" onkeyup="if(parseInt(this.value)>9){ this.value =Math.floor(this.value / 10); return false; }" class="form-control" />
            </div>
            <span asp-validation-for="EnerjiDuzeltmeEksi" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="EnerjiDuzeltmeArti" class="control-label">Energy Correction + C</label>
                <input asp-for="EnerjiDuzeltmeArti" type="number" min="0" max="9" onkeyup="if(parseInt(this.value)>9){ this.value =Math.floor(this.value / 10); return false; }" class="form-control" />
            </div>
            <span asp-validation-for="EnerjiDuzeltmeArti" class="text-danger"></span>

            @*<div class="form-group">
            <div class="col-md-12">
            @Html.RadioButtonFor(model => model.Tip, Tip.Raytrans) @Html.Label("Raytrans") <br />
            @Html.RadioButtonFor(model => model.Tip, Tip.JTDW_Tapping_Tee) @Html.Label("JTDW tapping tee") <br />
            @Html.RadioButtonFor(model => model.Tip, Tip.Y_Reduction, new { name = "Tip" }) @Html.Label("Y Reduction") <br />
            @Html.RadioButtonFor(model => model.Tip, Tip.Tapping_Tee, new { name = "Tip" }) @Html.Label("Tapping Tee") <br />
            @Html.RadioButtonFor(model => model.Tip, Tip.Coupler) @Html.Label("I Coupler") <br />
            @Html.RadioButtonFor(model => model.Tip, Tip.Single_Socket) @Html.Label("[ Single Socket") <br />
            @Html.RadioButtonFor(model => model.Tip, Tip.T_Tees) @Html.Label("T Tees") <br />
            @Html.RadioButtonFor(model => model.Tip, Tip.Elbow) @Html.Label("Elbow") <br />
            </div>
            <span asp-validation-for="Tip" class="text-danger"></span>
            </div>*@
            <div class="form-group" style="float:right">
                <input id="createBarcode" type="submit" value="Generate Barcode" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-md-3" style="width:30%;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Digit</td>
                        <td>Information</td>
                        <td>Value</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Accessory Type</td>
                        <td>@ViewBag.Barcode?.Substring(0, 1)</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Accessory Type</td>
                        <td>@ViewBag.Barcode?.Substring(1, 1)</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Name Trademark/Manufacturer</td>
                        <td>@ViewBag.Barcode?.Substring(2, 1)</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Name Trademark/Manufacturer</td>
                        <td>@ViewBag.Barcode?.Substring(3, 1)</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Name Trademark/Manufacturer</td>
                        <td>@ViewBag.Barcode?.Substring(4, 1)</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Name Trademark/Manufacturer</td>
                        <td>@ViewBag.Barcode?.Substring(5, 1)</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Indication of Cooling Time</td>
                        <td>@ViewBag.Barcode?.Substring(6, 1)</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Cooling Time</td>
                        <td>@ViewBag.Barcode?.Substring(7, 1)</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Accessory Diameter</td>
                        <td>@ViewBag.Barcode?.Substring(8, 1)</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Accessory Diameter</td>
                        <td>@ViewBag.Barcode?.Substring(9, 1)</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Accessory Diameter</td>
                        <td>@ViewBag.Barcode?.Substring(10, 1)</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Expression of resistance</td>
                        <td>@ViewBag.Barcode?.Substring(11, 1)</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Nominal fusion voltage U</td>
                        <td>@ViewBag.Barcode?.Substring(12, 1)</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Nominal fusion voltage U</td>
                        <td>@ViewBag.Barcode?.Substring(13, 1)</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Resistance of heating element</td>
                        <td>@ViewBag.Barcode?.Substring(14, 1)</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>Resistance of heating element</td>
                        <td>@ViewBag.Barcode?.Substring(15, 1)</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>Resistance of heating element</td>
                        <td>@ViewBag.Barcode?.Substring(16, 1)</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Variation of resistance</td>
                        <td>@ViewBag.Barcode?.Substring(17, 1)</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>Heating time</td>
                        <td>@ViewBag.Barcode?.Substring(18, 1)</td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>Heating time</td>
                        <td>@ViewBag.Barcode?.Substring(19, 1)</td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>Heating time</td>
                        <td>@ViewBag.Barcode?.Substring(20, 1)</td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>Energy correction</td>
                        <td>@ViewBag.Barcode?.Substring(21, 1)</td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>Energy correction</td>
                        <td>@ViewBag.Barcode?.Substring(22, 1)</td>
                    </tr>
                    <tr>
                        <td>24</td>
                        <td>Checksum</td>
                        <td>@ViewBag.Barcode?.Substring(23, 1)</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <h5 style="text-align:center">@ViewBag.Barcode</h5>
            </div>
            <div class="form-group">
                <img id="barcodeImg" src="@ViewBag.BarcodeUri" class="img-thumbnail" />
            </div>
            <div class="form-group" style="float:right">
                <input id="printFile" asp-action="PrintFile" asp-controller="Home" type="submit" formtarget="_blank" value="Print" class="btn btn-primary" />
            </div>

        </div>
    </form>

    @* <form asp-action="PrintFile">
    <div class="form-group" style="float:right">
    <input id="printFile" asp-action="PrintFile" asp-controller="Home" type="submit" formtarget="_blank" value="Print" class="btn btn-primary" />
    </div>
    </form>*@
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
