@model BarcodeGenerator.Models.Barcode
@{
    ViewData["Title"] = "CreateBarcode";
}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    function onKeyupVoltaj() {
        var voltaj = document.getElementById("voltaj");
    }
    function onDirencChange() {
        var direnc = document.getElementById("direnc");
        if (/\./.test(direnc.value) === false) { direnc.value = `${direnc.value}.00`; }
        else if (/\.\d$/.test(direnc.value)) { direnc.value = parseFloat(direnc.value).toFixed(2); }
    }
    function validateForm() {
        var cap1 = document.getElementById("SelectCap1");
        var cap2 = document.getElementById("SelectCap2");

        if (parseInt(cap1.value) < parseInt(cap2.value)) {
            alert("Ürün Çap 2, Çap 1'den büyük olamaz");
            return false;
        }
        return true;
    }
    $(document).ready(function () {
        $('#SelectCap2').val(null);
        if ($('input[name=Tip]:checked').val() === "Y_Reduction" || $('input[name=Tip]:checked').val() === "Tapping_Tee") {
            $('#Cap2').show();
        } else {
            $('#Cap2').hide();
        }
        $('input[name=Tip]').click(function () {
            if ($('input[name=Tip]:checked').val() === "Y_Reduction" || $('input[name=Tip]:checked').val() === "Tapping_Tee") {
                $('#Cap2').show();
            } else {
                $('#Cap2').hide();
            }
        });
    });
</script>
<style>
    .col-md-3 {
        float: left;
        margin: 5px 5px 5px 0;
        width: 32%;
        padding: 15px;
    }

    .form-group {
        margin: 10px 0;
    }

    .col-md-12 {
        float: left;
    }
</style>
<hr />
<div class="row">
    <form asp-action="CreateBarcode" id="form" onsubmit="return validateForm()">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Cap1" class="control-label">Ürün Çap 1</label>
                    <select asp-for="Cap1" id="SelectCap1" asp-items="Html.GetEnumSelectList<Cap1>()" class="form-control"></select>
                    <span asp-validation-for="Cap1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Voltaj" class="control-label">Kaynak Voltajı</label>
                    <input asp-for="Voltaj" type="number" min="0" max="99" onkeyup="if (parseInt(this.value) > 99) { this.value = Math.floor(this.value / 10); return false; }" class="form-control" />
                    <span asp-validation-for="Voltaj" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sure" class="control-label">Kaynak Süresi</label>
                    <br />
                    @Html.RadioButton("radioButton", "Second", true)
                    <label for="RadioButton1">Saniye</label>
                    @Html.RadioButton("radioButton", "Minute")
                    <label for="RadioButton2">Dakika</label>
                    <br />
                    <input asp-for="Sure" type="number" min="0" max="999" onkeyup="if(parseInt(this.value)>999){ this.value =Math.floor(this.value / 10); return false; }" class="form-control" />
                    <span asp-validation-for="Sure" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group" id="Cap2" style="display:none">
                    <label asp-for="Cap2" class="control-label">Ürün Çap 2</label>
                    <select asp-for="Cap2" id="SelectCap2" asp-items="Html.GetEnumSelectList<Cap2>()" class="form-control"></select>
                    <span asp-validation-for="Cap2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Direnc" class="control-label">Ürün Direnci</label>
                    <input asp-for="Direnc" id="direnc" type="number" min="0.01" step=".01" onchange="onDirencChange()" class="form-control" />
                    <span asp-validation-for="Direnc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SogumaSuresi" class="control-label">Soğuma Süresi</label>
                    <select asp-for="SogumaSuresi" asp-items="Html.GetEnumSelectList<SogumaSuresi>()" class="form-control"></select>
                    <span asp-validation-for="SogumaSuresi" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.RadioButtonFor(model => model.Tip, Tip.Raytrans) @Html.Label("Raytrans") <br />
                        @Html.RadioButtonFor(model => model.Tip, Tip.JTDW_Tapping_Tee) @Html.Label("JTDW tapping tee") <br />
                        @Html.RadioButtonFor(model => model.Tip, Tip.Y_Reduction, new {name = "Tip"}) @Html.Label("Y Reduction") <br />
                        @Html.RadioButtonFor(model => model.Tip, Tip.Tapping_Tee, new {name = "Tip"}) @Html.Label("Tapping Tee") <br />
                        @Html.RadioButtonFor(model => model.Tip, Tip.Coupler) @Html.Label("I Coupler") <br />
                        @Html.RadioButtonFor(model => model.Tip, Tip.Single_Socket) @Html.Label("[ Single Socket") <br />
                        @Html.RadioButtonFor(model => model.Tip, Tip.T_Tees) @Html.Label("T Tees") <br />
                        @Html.RadioButtonFor(model => model.Tip, Tip.Elbow) @Html.Label("Elbow") <br />
                    </div>
                    <span asp-validation-for="Tip" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Rezistans" class="control-label">Rezistans Düzeltme</label>
                <input asp-for="Rezistans" width="15" type="number" min="0" max="9" onkeyup="if(parseInt(this.value)>9){ this.value =9; return false; }" class="form-control" />
                <span asp-validation-for="Rezistans" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnerjiDuzeltmeEksi" class="control-label">Enerji Düzeltme - C</label>
                <input asp-for="EnerjiDuzeltmeEksi" type="number" min="0" max="9" onkeyup="if(parseInt(this.value)>9){ this.value =9; return false; }" class="form-control" />
                <span asp-validation-for="EnerjiDuzeltmeEksi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnerjiDuzeltmeArti" class="control-label">Enerji Düzeltme + C</label>
                <input asp-for="EnerjiDuzeltmeArti" type="number" min="0" max="9" onkeyup="if(parseInt(this.value)>9){ this.value =9; return false; }" class="form-control" />
                <span asp-validation-for="EnerjiDuzeltmeArti" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">

            <div class="form-group">
                <input type="submit" value="BARKOD" class="btn btn-primary" />
            </div>

            <div class="form-group">
                <img src="@ViewBag.QrCodeUri" class="img-thumbnail" />
            </div>
           
        </div>
    </form>
      <form asp-action="PrintFile">
        <div class="form-group">
            <input type="submit" value="YAZDIR" class="btn btn-primary" />
        </div>
       

    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

